<section class="order" id="order">

    <h3 class="sub-heading"> Beli Sekarang Atau Pesan Nanti </h3>
    <h1 class="heading"> Tersedia Juga Delivery Order </h1>

    <form action="">

        <div class="inputBox">
            <div class="input">
                <span>Nama kamu</span>
                <input type="text" placeholder="enter your name">
            </div>
            <div class="input">
                <span>Nomor Meja </span>
                <input type="number" placeholder="enter your number">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>Orderan Kamu</span>
                <input type="text" placeholder="enter food name">
            </div>
            <div class="input">
                <span>Tambahan Makanan</span>
                <input type="test" placeholder="extra with food">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>Berapa Banyak</span>
                <input type="number" placeholder="how many orders">
            </div>
            <div class="input">
                <span>date and time</span>
                <input type="datetime-local">
            </div>
        </div>
        <div class="inputBox">
            <div class="input">
                <span>Alamat Lengkap</span>
                <textarea name="" placeholder="enter your address" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="input">
                <span>Pesan Tambahan</span>
                <textarea name="" placeholder="enter your message" id="" cols="30" rows="10"></textarea>
            </div>
        </div>

        <input type="submit" value="order now" class="btn">

    </form>

